.size2-1pos1-1 {
	@include grid-tile(2, 1);
	background: $grey1;
	display: inline-block;
	float: left;
}
.size1-1pos1-2 {
	@include grid-tile(1, 1);
	background: $grey4;
	display: inline-block;
	float: left;
}
.size1-1pos2-2 {
	@include grid-tile(1, 1);
	background: $blue2;
	display: inline-block;
	float: right;
}
.size1-2pos1-3 {
	@include grid-tile(1, 2);
	background: $blue1;
	display: inline-block;
	float: left;
}
.size1-1pos2-3 {
	@include grid-tile(1, 1);
	background: $grey3;
	display: inline-block;
	float: right;
}
.size1-1pos2-4 {
	@include grid-tile(1, 1);
	background: $blue3;
	display: inline-block;
	float: right;
}

.tile>div {
	@include vertical-align;
	display: inline-block;

	img {
		margin: 0 auto;
		width: 50%;
	}
}