.Header {
	width: 100vw;
	height: $header-height;
	background-color: #000;
	text-align: center;
}

.Header>div {
	display: inline-block;
}

.Header-navigation-button {
	float: left;
	height: 10vh;
	width: 10vh;
	img {
		height: 40%;
		padding: 30% 30%;
	}
}

.Header-logo {
	height: 10vh;
	img {
		height: 5vh;
		padding: 2.5vh 0;
		// height: 3vh;
		// padding: 1vh 0; 
	}
}

.Header-account-button {
	height: 10vh;
	width: 10vh;
	float: right;
	img {
		height: 80%;
		padding: 10% 10%;
	}
}