/*
FONTS
*/
//Family
$base-font-family: "proxima-nova", Helvetica, sans-serif;
$heading-font-family: "ff-tisa-sans-web-pro", Helvetica, sans-serif;
//Size
$h1-size: 1.5em;
//Color
$h1-color: #E1E1E1;

/*
COLORS
sorted 1-4 where 1 is darkest
*/
$grey1: #505050;

/*
SIZES
*/
$header-height: 60px;

/*
BREAKPOINTS
*/
$mobile: 580px;