/*
FONTS
*/
//Family
$base-font-family: "proxima-nova", Helvetica, sans-serif;
$heading-font-family: "ff-tisa-sans-web-pro", Helvetica, sans-serif;
//Size
$h1-size: 1.5em;
//Color
$h1-color: #E1E1E1;

// font-size
$font-size-small: 0.9em;

// font-weight
$font-weight-light: 100;
$font-weight-regular: 500;
$font-weight-bold: 700;

// font-color
$font-color-dark: #000;
$font-color-light: #FFF;
$font-color-grey: #888;

/*
COLORS
*/
$color-background: #FFF;
$color-enfo-blue: #0071BC;

$color-light-grey: #eee;
$color-dark-grey: #222;

/*
TILE-COLORS
sorted 1-4 where 1 is darkest
*/
$grey1: #2c2c2c;
$grey2: #505050;
$grey3: #6c6c6c;
$grey4:	#b5b5b5;
$blue1: #1D3652;
$blue2: #284565;
$blue3: #42658E;
$blue4: #608DC0;

/*
SIZES
*/
$header-height: 10vh;
$footer-height: 10vh;

/*
BREAKPOINTS
*/
$mobile: 580px;